<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes da Sala de Espetáculos</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">

    <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-md">
        <h2 class="text-2xl font-bold mb-6 text-gray-800">Detalhes da Sala de Espetáculos</h2>
        <form action="/places/create" method="GET" class="space-y-6 bg-white p-6 rounded-lg shadow">
    
            <div>
                <label class="block text-sm font-medium text-gray-700">Nome</label>
                <label for="name" type="text" name="name" required class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500">{{ place[1] }}</label>
            </div>

            <div>
                <label class="block text-sm font-medium text-gray-700">Morada</label>
                <label for="address" type="text" name="address" required class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500">{{ place[2] }}</label>
            </div>

            <div>
                <label class="block text-sm font-medium text-gray-700">Link Google Maps</label>
                <label for="google_maps_link" type="text" name="google_maps_link" required class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500">{{ place[5] }}</label>
            </div>

            <div>
                <label class="block text-sm font-medium text-gray-700">Capacidade</label>
                <label for="capacity" type="number" name="capacity" required class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500">{{ place[6] }}</label>
            </div>

            <div class="grid grid-cols-1">
                <a href="/places/" class="w-full bg-gray-600 text-white py-2 px-4 text-center rounded-md hover:bg-gray-700 font-bold transition">
                    Voltar à lista de salas de espetáculos
                </a>
            </div>
        </form>
    </div>

</body>
</html>